# file: .gitignore

# Ignore environment files & secrets
.env

# Ignore virtual environment folders
venv/
env/
.venv/
 
# Ignore Python caches
__pycache__/
*.pyc
.ipynb_checkpoints/

# ...any other folders you want to exclude
